In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.5.0'

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')

CPU times: total: 4.59 s
Wall time: 10.8 s

1000

In [20]:
from time import time

In [21]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists = 'append')
    
    t_end  = time()
    
    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 11.030 seconds
inserted another chunk..., took 11.739 seconds
inserted another chunk..., took 10.292 seconds
inserted another chunk..., took 14.067 seconds
inserted another chunk..., took 11.367 seconds
inserted another chunk..., took 11.071 seconds
inserted another chunk..., took 11.452 seconds
inserted another chunk..., took 10.592 seconds
inserted another chunk..., took 10.944 seconds
inserted another chunk..., took 11.446 seconds
inserted another chunk..., took 10.684 seconds

C:\Users\ronch\AppData\Local\Temp\ipykernel_10852\2115347273.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 11.153 seconds
inserted another chunk..., took 7.046 seconds

StopIteration: